{% extends 'jobs/base.html' %}

{% block title %}My Company Positions{% endblock %}

{% block content %}
<header>
  <h1 class="mt-5">Your Company Positions List</h1>
</header>
<main>
    <section>
      

        {% if user.is_authenticated %}
            <!-- Check if user is admin of the company before showing the button -->
            {% for company in companies %}
                {% if company.admin == user %}
                    <a href="{% url 'add_job_position' company_id=company.id %}" class="btn btn-success ml-2">Add New Job Position</a>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>You need to be logged in to add a new job position.</p>
        {% endif %}
        
        {% if job_positions %}
            <ul class="list-group mt-3">
                {% for job in job_positions %}
                    <li class="list-group-item">
                        <a href="{% url 'view_job_position' job.id %}">{{ job.title }}</a> at {{ job.company.name }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No job positions available.</p>
        {% endif %}
    </section>
</main>
{% endblock %}
